/* Hero Section */
#hero {
    height: 800px;
    /* background: url('../images/hero-image.jpeg') no-repeat center center cover; */
    background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-content {
    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
.hero-content h1{
    font-size: 50px;
    font-weight: 700;
}
.hero-content h2{
    font-size: 20px;
    margin-bottom: 30px;
}
.hero-content h1,
.hero-content h2 {
    color: #f3f3f3;
}
.hero-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(243, 243, 243);
    background-color: rgb(12, 118, 122);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
}
.hero-content a:hover {
    background-color: rgb(5, 54, 56);
}
/* Highlights */
.highlights{
    padding: 24px;
}
.highlights h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
}

.highlights-content li img {
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    width: 100%;
    object-fit: cover;
}
.highlights-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlights-content li {
    padding: 10px 20px;
    text-align: center;
    width: 90%;
}
.highlights-content li strong {
    color: rgb(12, 118, 122);
}